[Misc]
Name=Incidence Serializer
Comment=An Akonadi serializer plugin for events, tasks and journal entries

[Plugin]
Type=text/calendar,application/x-vnd.akonadi.note,application/x-vnd.kde.notes
X-Akonadi-Class=default;KCalCore::Incidence*;
X-KDE-Library=akonadi_serializer_kcalcore
X-KDE-ClassName=Akonadi::SerializerPluginKCalCore
